<a href="https://colab.research.google.com/github/melvin97n/TMDB-prediction/blob/master/TMDB_prediction_draft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import seaborn as sns
from tqdm import tqdm
from scipy import stats
from scipy.stats import norm, skew #for some statistics
pd.set_option('display.float_format', lambda x: '{:.3f}'.format(x))
%matplotlib inline
import os
import re

In [0]:
!pip install kaggle
from google.colab import files
files.upload()

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.5)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (3.0.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.6.16)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: text-unidecode==1.2 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.2)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

Saving kaggle.json to kaggle (1).json

{'kaggle.json': b'{"username":"melvin97n","key":"e8805b38b4617ec29d832f8bbdfeaab8"}'}

In [0]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!ls ~/.kaggle
!ls -l ~/.kaggle
!cat ~/.kaggle/kaggle.json
!pip install -q kaggle
!pip install -q kaggle-cli

kaggle.json
total 4
-rw------- 1 root root 65 Aug 12 11:43 kaggle.json
{"username":"melvin97n","key":"e8805b38b4617ec29d832f8bbdfeaab8"}

In [0]:
!kaggle competitions download -c tmdb-box-office-prediction

sample_submission.csv: Skipping, found more recently modified local copy (use --force to force download)
train.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
test.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [0]:
pwd

'/content'

In [0]:
test=pd.read_csv("test.csv.zip")
train=pd.read_csv("train.csv.zip")
train_x=train.drop('revenue',1)
df=pd.concat([train_x,test])
df.head(5)

In [0]:
df=pd.read_csv("train.csv.zip")

In [0]:
df.isnull().sum(axis=0)

id                          0
belongs_to_collection    2396
budget                      0
genres                      7
homepage                 2054
imdb_id                     0
original_language           0
original_title              0
overview                    8
popularity                  0
poster_path                 1
production_companies      156
production_countries       55
release_date                0
runtime                     2
spoken_languages           20
status                      0
tagline                   597
title                       0
Keywords                  276
cast                       13
crew                       16
revenue                     0
dtype: int64

In [0]:
df['belongs_to_collection'][df['belongs_to_collection'].notnull()]='Yes'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
df['belongs_to_collection']=df['belongs_to_collection'].fillna("No")

In [0]:
x=[]
for index,row in df.iterrows():
  try:
    d=eval(df['genres'][index])
    b=[]
    for i in range(len(d)):
      b.append(list(d[i].values())[1])
  except:
    pass
  x.append(b)
df['genres']=x

In [0]:
df.head()

   id  ...   revenue
0   1  ...  12314651
1   2  ...  95149435
2   3  ...  13092000
3   4  ...  16000000
4   5  ...   3923970

[5 rows x 23 columns]

In [0]:
df['cast'][0]

"[{'cast_id': 4, 'character': 'Lou', 'credit_id': '52fe4ee7c3a36847f82afae7', 'gender': 2, 'id': 52997, 'name': 'Rob Corddry', 'order': 0, 'profile_path': '/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg'}, {'cast_id': 5, 'character': 'Nick', 'credit_id': '52fe4ee7c3a36847f82afaeb', 'gender': 2, 'id': 64342, 'name': 'Craig Robinson', 'order': 1, 'profile_path': '/tVaRMkJXOEVhYxtnnFuhqW0Rjzz.jpg'}, {'cast_id': 6, 'character': 'Jacob', 'credit_id': '52fe4ee7c3a36847f82afaef', 'gender': 2, 'id': 54729, 'name': 'Clark Duke', 'order': 2, 'profile_path': '/oNzK0umwm5Wn0wyEbOy6TVJCSBn.jpg'}, {'cast_id': 7, 'character': 'Adam Jr.', 'credit_id': '52fe4ee7c3a36847f82afaf3', 'gender': 2, 'id': 36801, 'name': 'Adam Scott', 'order': 3, 'profile_path': '/5gb65xz8bzd42yjMAl4zwo4cvKw.jpg'}, {'cast_id': 8, 'character': 'Hot Tub Repairman', 'credit_id': '52fe4ee7c3a36847f82afaf7', 'gender': 2, 'id': 54812, 'name': 'Chevy Chase', 'order': 4, 'profile_path': '/svjpyYtPwtjvRxX9IZnOmOkhDOt.jpg'}, {'cast_id': 9, 'character': 'Jill', 'credit_id': '52fe4ee7c3a36847f82afafb', 'gender': 1, 'id': 94098, 'name': 'Gillian Jacobs', 'order': 5, 'profile_path': '/rBnhe5vhNPnhRUdtYahBWx90fJM.jpg'}, {'cast_id': 10, 'character': 'Sophie', 'credit_id': '52fe4ee7c3a36847f82afaff', 'gender': 1, 'id': 1159009, 'name': 'Bianca Haase', 'order': 6, 'profile_path': '/4x3nbtD8q8phAJPmoGWXPvz0iM.jpg'}, {'cast_id': 11, 'character': 'Kelly', 'credit_id': '5524ec51c3a3687df3000dbb', 'gender': 1, 'id': 86624, 'name': 'Collette Wolfe', 'order': 7, 'profile_path': '/aSD4h5379b2eEw3bLou9ByLimmq.jpg'}, {'cast_id': 13, 'character': 'Brad', 'credit_id': '5524ec8ec3a3687ded000d72', 'gender': 2, 'id': 466505, 'name': 'Kumail Nanjiani', 'order': 9, 'profile_path': '/x4nAztHY72SVciRfxEsbhIVTsIu.jpg'}, {'cast_id': 14, 'character': 'Courtney', 'credit_id': '5524ec9bc3a3687df8000d13', 'gender': 1, 'id': 70776, 'name': 'Kellee Stewart', 'order': 10, 'profile_path': '/w3xmsEPmJc1Cf0dQ4aIn8YmlHbk.jpg'}, {'cast_id': 15, 'character': 'Terry', 'credit_id': '5524eca892514171cb008237', 'gender': 2, 'id': 347335, 'name': 'Josh Heald', 'order': 11, 'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'}, {'cast_id': 16, 'character': 'Susan', 'credit_id': '5524ecb7925141720c001116', 'gender': 0, 'id': 1451392, 'name': 'Gretchen Koerner', 'order': 12, 'profile_path': '/muULPexCTJGyJba4yKzxronpD50.jpg'}, {'cast_id': 17, 'character': 'Herself', 'credit_id': '5524ecc3c3a3687ded000d74', 'gender': 1, 'id': 98879, 'name': 'Lisa Loeb', 'order': 13, 'profile_path': '/bGqg58ca0bZR38z9HliUMmeNGE.jpg'}, {'cast_id': 18, 'character': 'Herself', 'credit_id': '5524ecd3c3a3687e11000ed3', 'gender': 1, 'id': 1394648, 'name': 'Jessica Williams', 'order': 14, 'profile_path': '/A4syKjkcYB92wLEhH0c0hC3BCpz.jpg'}, {'cast_id': 19, 'character': 'Himself', 'credit_id': '5524ece6925141718d001009', 'gender': 0, 'id': 1451393, 'name': 'Bruce Buffer', 'order': 15, 'profile_path': None}, {'cast_id': 20, 'character': 'Shot Girl', 'credit_id': '5524ecf5c3a3687e08000dc2', 'gender': 0, 'id': 1451394, 'name': 'Mariana Paola Vicente', 'order': 16, 'profile_path': '/ckPllza8624UHWGHCbLShkLxCD1.jpg'}, {'cast_id': 33, 'character': 'Choozy Doozy Host', 'credit_id': '555844da9251412afe0013a9', 'gender': 2, 'id': 2224, 'name': 'Christian Slater', 'order': 17, 'profile_path': '/3ElLWjnvchMS6Q4cIQOK8QNAoMG.jpg'}, {'cast_id': 35, 'character': 'Gary Winkle', 'credit_id': '55872027c3a3683853005074', 'gender': 0, 'id': 185805, 'name': 'Jason Jones', 'order': 18, 'profile_path': '/aIoCw6vo8AGMdsQRAI5g2t0yJT3.jpg'}, {'cast_id': 36, 'character': 'Bridesmaid', 'credit_id': '55efe971c3a368090c00cd1b', 'gender': 0, 'id': 1507448, 'name': 'Olivia Jordan', 'order': 19, 'profile_path': '/szMukAEiIDeasel0lvyaeyKuych.jpg'}, {'cast_id': 37, 'character': 'Christine', 'credit_id': '55efe980c3a36871bf008176', 'gender': 1, 'id': 1334091, 'name': 'Christine Bently', 'order': 20, 'profile_path': '/oUZltnGa55OXE52hfyPTfCshuNy.jpg'}, {'cast_id': 38, 'character': 'Excited Girl', 'credit_id': '55efe98e9251413e3201d316', 'gender': 0, 'id': 557803, 'name': 'Stacey Asaro', 'order': 21, 'profile_path': '/qTPdlr1dXf3kNdyHuDsgtGC0HCC.jpg'}, {'cast_id': 64, 'character': 'Adam (uncredited)', 'credit_id': '58f2135ac3a3682e95008b91', 'gender': 2, 'id': 3036, 'name': 'John Cusack', 'order': 22, 'profile_path': '/uKydQYuZ9TnCzvbQLtj6j98vWAT.jpg'}, {'cast_id': 65, 'character': 'J-Bird', 'credit_id': '59ac0240c3a3682cc802c399', 'gender': 2, 'id': 59256, 'name': 'Adam Herschman', 'order': 23, 'profile_path': '/wZMwiuX1DslF6hDS50z9OTN6z1X.jpg'}, {'cast_id': 66, 'character': 'Bridesmaid', 'credit_id': '59ac02cd925141079d02b1b4', 'gender': 1, 'id': 129714, 'name': 'Kisha Sierra', 'order': 24, 'profile_path': None}]"

In [0]:
df['genres'][470]=['Adventure']
df['genres'][1622]=[ 'Drama', 'Comedy']
df['genres'][1814]=['Comedy']
df['genres'][1819]=['Romance', 'Drama']
df['genres'][2423]=['Action', 'Drama', 'Romance']
df['genres'][2686]=['Thriller']
df['genres'][2900]=['Drama', 'Fantasy', 'Mystery']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [0]:
df.drop(['homepage','imdb_id','overview','poster_path','spoken_languages','Keywords','tagline','title','original_title'],axis=1,inplace=True)

In [0]:
df['runtime'][1335]=130
df['runtime'][2302]=87

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [0]:
df.isnull().sum(axis=0)

id                         0
belongs_to_collection      0
budget                     0
genres                     0
original_language          0
popularity                 0
production_companies     156
production_countries      55
release_date               0
runtime                    0
status                     0
cast                      13
crew                      16
revenue                    0
dtype: int64

In [0]:
x=[]
for index,row in df.iterrows():
  try:
    d=eval(df['production_companies'][index])
    b=[]
    for i in range(len(d)):
      b.append(list(d[i].values())[0])
  except:
    b=[]
  x.append(b)
df['production_companies']=x

In [0]:
studios=df['production_companies'].apply(pd.Series).stack().unique()
studios=studios[:30]
studios

array(['Paramount Pictures', 'United Artists',
       'Metro-Goldwyn-Mayer (MGM)', 'Walt Disney Pictures', 'Bold Films',
       'Blumhouse Productions', 'Right of Way Films',
       'Ghost House Pictures', 'North Box Productions',
       'Jim Henson Productions', 'Jim Henson Company, The',
       'Castle Rock Entertainment',
       'Twentieth Century Fox Film Corporation', 'Amercent Films',
       'American Entertainment Partners L.P.',
       'Interscope Communications', 'DreamWorks SKG',
       'Jinks/Cohen Company', 'Double Feature Films', 'Jersey Films',
       'Nina Saxon Film Design', 'Cruise/Wagner Productions',
       'Amblin Entertainment', 'Blue Tulip Productions',
       'Ronald Shusett/Gary Goldman', 'Digital Image Associates',
       'Hypnopolis', 'Craven-Maddalena Films', 'BenderSpink', 'BBC Films'],
      dtype=object)

In [0]:
x=[]
for index,row in df.iterrows():
  try:
    d=eval(df['production_countries'][index])
    b=[]
    for i in range(len(d)):
      b.append(list(d[i].values())[0])
  except:
    b=[]
  x.append(b)
df['production_countries']=x

In [0]:
x=[]
for index,row in df.iterrows():
  try:
    d=eval(df['cast'][index])
    b=[]
    for i in range(len(d)):
      b.append(list(d[i].values())[0])
  except:
    b=[]
  x.append(b)
df['cast']=x

In [0]:
casts=df['cast'].apply(pd.Series).stack().unique()
casts=casts[:30]

In [0]:
total_crew=[]
for index,row in df.iterrows():
  hi=df['crew'][index]
  crew=[]
  try:
    ho=hi.rsplit("'Director', 'name': '")[1]
    he=ho.split("', ")
    crew.append(he[0])
  except:
    crew.append("N/A")

  try:
    ho=hi.rsplit("Producer\', \'name\': \'")[1]
    he=ho.split("', ")
    crew.append(he[0])
  except:
    crew.append("N/A")
  try:
    ho=hi.rsplit("'Director of Photography', 'name': '")[1]
    he=ho.split("', ")
    crew.append(he[0])
  except:
    crew.append("N/A")
  total_crew.append(crew)
total_crew
df['crew']=total_crew
df["director"] = df["crew"].str[0]
df["producer"] = df["crew"].str[1]
df["Director_of_photography"] = df["crew"].str[2]

In [0]:
df.head()

   id belongs_to_collection  ...         producer Director_of_photography
0   1                   Yes  ...     Andrew Panay            Declan Quinn
1   2                   Yes  ...  Whitney Houston          Charles Minsky
2   3                    No  ...    Jason Reitman            Sharone Meir
3   4                    No  ...      Sujoy Ghosh                     N/A
4   5                    No  ...              N/A                     N/A

[5 rows x 17 columns]

In [0]:
df=df.drop('crew',1)

In [0]:
cols=df.columns
cols

In [0]:
producers=df['producer'].apply(pd.Series).stack().unique()
producers=producers[:30]
dop=df['Director_of_photography'].apply(pd.Series).stack().unique()
dop=dop[:30]
directors=df['director'].apply(pd.Series).stack().unique()
directors=directors[:30]

In [0]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
df = df.join(pd.DataFrame(mlb.fit_transform(df.pop('genres')),
                          columns=mlb.classes_,
                          index=df.index))

In [0]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
df = df.join(pd.DataFrame(mlb.fit_transform(df.pop('production_companies')),
                          columns=mlb.classes_,
                          index=df.index))

In [0]:

from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
df = df.join(pd.DataFrame(mlb.fit_transform(df.pop('cast')),
                          columns=mlb.classes_,
                          index=df.index))

In [0]:
column=list(cols)+list(studios)+list(casts)
column.remove("genres")
column.remove("production_companies")
column.remove("cast")
df=df[column]

In [0]:

from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
df = df.join(pd.DataFrame(mlb.fit_transform(df.pop('production_countries')),
                          columns=mlb.classes_,
                          index=df.index))

In [0]:
from sklearn.preprocessing import LabelEncoder
lbl=LabelEncoder()
df['belongs_to_collection']=lbl.fit_transform(df['belongs_to_collection'])
from sklearn.preprocessing import LabelEncoder
lbl=LabelEncoder()
df['status']=lbl.fit_transform(df['status'])

In [0]:
language=pd.get_dummies(df.original_language)
language.drop('ar' ,1)
df1=pd.concat([df,language],1)
df1.drop('original_language',1, inplace=True)

In [0]:
dire=pd.get_dummies(df.director)
dire=dire[directors]
df1=pd.concat([df1,dire],1)
df1.drop('director',1, inplace=True)

pros=pd.get_dummies(df.producer)
pros=pros[producers]
df1=pd.concat([df1,pros],1)
df1.drop('producer',1, inplace=True)

phos=pd.get_dummies(df.Director_of_photography)
phos=phos[dop]
df1=pd.concat([df1,phos],1)
df1.drop('Director_of_photography',1, inplace=True)

In [0]:
import datetime as dt
for i in df1.index:
       if pd.notna(df1['release_date'][i]): 
            df1['release_date'][i]=dt.datetime.strptime(df1['release_date'][i],'%m/%d/%y')

In [0]:
df1.drop("N/A",1)
df1['release_date'][i]=dt.datetime.strptime(df1['release_date'][i],'%m/%d/%y')

In [0]:
year = lambda x: dt.datetime.strptime(x, "%m/%d/%y" ).year
df1['year'] = df1['release_date'].map(year)
month = lambda x: dt.datetime.strptime(x, "%m/%d/%y" ).month
df1['month'] = df1['release_date'].map(month)
day = lambda x: dt.datetime.strptime(x, "%m/%d/%y" ).day
df1['day'] = df1['release_date'].map(day)
day_of_week = lambda x: dt.datetime.strptime(x, "%m/%d/%y" ).weekday()
df1['week_day']=df1['release_date'].map(day_of_week)

In [0]:
df1['year']=df1['year'].astype(str)
df1['month']='month' + df1['month'].astype(str)
df1['day']='day' + df1['day'].astype(str)
df1['week_day']='week_day' + df1['week_day'].astype(str)

In [0]:
months=pd.get_dummies(df1.month)
months.drop('month2' ,1)
df1=pd.concat([df1,months],1)
df1.drop('month',1, inplace=True)

years=pd.get_dummies(df1.year)
years.drop('2015' ,1)
df1=pd.concat([df1,years],1)
df1.drop('year',1, inplace=True)

days=pd.get_dummies(df1.day)
days.drop('day1' ,1)
df1=pd.concat([df1,days],1)
df1.drop('day',1, inplace=True)

weekdays=pd.get_dummies(df1.week_day)
weekdays.drop('week_day1' ,1)
df1=pd.concat([df1,weekdays],1)
df1.drop('week_day',1, inplace=True)

In [0]:
df1.drop("release_date",1,inplace=True)
df1.head()

In [0]:
df1 = df1[df1.budget!=0]
df1.shape

(2188, 407)

In [0]:
y=df1['revenue']
df1.drop('revenue',1,inplace=True)
df1['revenue']=y
df1.head()

   id  belongs_to_collection    budget  ...  week_day5  week_day6   revenue
0   1                      1  14000000  ...          0          0  12314651
1   2                      1  40000000  ...          0          0  95149435
2   3                      0   3300000  ...          0          0  13092000
3   4                      0   1200000  ...          0          0  16000000
5   6                      0   8000000  ...          0          0   3261638

[5 rows x 407 columns]

In [0]:
X=df1.drop('revenue',1)

In [0]:
y=np.log1p(y)

In [0]:
X['budget']=np.log1p(X['budget'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
X['popularity']=np.log1p(X['popularity'])
X['runtime']=np.log1p(X['runtime'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [0]:
X.head()

   id  belongs_to_collection  budget  ...  week_day4  week_day5  week_day6
0   1                      1  16.455  ...          1          0          0
1   2                      1  17.504  ...          1          0          0
2   3                      0  15.009  ...          1          0          0
3   4                      0  13.998  ...          1          0          0
5   6                      0  15.895  ...          0          0          0

[5 rows x 406 columns]

In [0]:
from keras.callbacks import ModelCheckpoint
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error 
from matplotlib import pyplot as plt
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)
from xgboost import XGBRegressor

Using TensorFlow backend.

In [0]:
NN_model = Sequential()

# The Input Layer :
NN_model.add(Dense(406, kernel_initializer='normal',input_dim = X.shape[1], activation='relu'))

# The Hidden Layers :
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))

# The Output Layer :
NN_model.add(Dense(1, kernel_initializer='normal',activation='linear'))

# Compile the network :
NN_model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
NN_model.summary()

WARNING: Logging before flag parsing goes to stderr.
W0809 07:23:59.889520 139889839216512 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0809 07:23:59.933638 139889839216512 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0809 07:23:59.941443 139889839216512 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4115: The name tf.random_normal is deprecated. Please use tf.random.normal instead.

W0809 07:24:00.016614 139889839216512 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 406)               165242
_________________________________________________________________
dense_2 (Dense)              (None, 256)               104192
_________________________________________________________________
dense_3 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_4 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 257
=================================================================
Total params: 401,275
Trainable params: 401,275
Non-trainable params: 0
_________________________________________________________________

In [0]:
NN_model.fit(X, y, epochs=100, batch_size=32, validation_split = 0.2)

W0809 07:24:00.237253 139889839216512 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

W0809 07:24:00.405346 139889839216512 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:973: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Train on 1750 samples, validate on 438 samples
Epoch 1/100
1750/1750 [==============================] - 4s 2ms/step - loss: 7.8511 - mean_absolute_error: 7.8511 - val_loss: 8.3362 - val_mean_absolute_error: 8.3362
Epoch 2/100
1750/1750 [==============================] - 0s 189us/step - loss: 3.6843 - mean_absolute_error: 3.6843 - val_loss: 6.5886 - val_mean_absolute_error: 6.5886
Epoch 3/100
1750/1750 [==============================] - 0s 207us/step - loss: 2.6515 - mean_absolute_error: 2.6515 - val_loss: 1.6105 - val_mean_absolute_error: 1.6105
Epoch 4/100
1750/1750 [==============================] - 0s 193us/step - loss: 1.7692 - mean_absolute_error: 1.7692 - val_loss: 2.2782 - val_mean_absolute_error: 2.2782
Epoch 5/100
1750/1750 [==============================] - 0s 191us/step - loss: 1.7653 - mean_absolute_error: 1.7653 - val_loss: 6.5250 - val_mean_absolute_error: 6.5250
Epoch 6/100
1750/1750 [==============================] - 0s 202us/step - loss: 1.7162 - mean_absolute_error: 1.7162 - val_loss: 5.2853 - val_mean_absolute_error: 5.2853
Epoch 7/100
1750/1750 [==============================] - 0s 203us/step - loss: 1.6718 - mean_absolute_error: 1.6718 - val_loss: 3.5168 - val_mean_absolute_error: 3.5168
Epoch 8/100
1750/1750 [==============================] - 0s 191us/step - loss: 2.0256 - mean_absolute_error: 2.0256 - val_loss: 8.6456 - val_mean_absolute_error: 8.6456
Epoch 9/100
1750/1750 [==============================] - 0s 196us/step - loss: 1.6958 - mean_absolute_error: 1.6958 - val_loss: 2.8475 - val_mean_absolute_error: 2.8475
Epoch 10/100
1750/1750 [==============================] - 0s 188us/step - loss: 1.4628 - mean_absolute_error: 1.4628 - val_loss: 3.2889 - val_mean_absolute_error: 3.2889
Epoch 11/100
1750/1750 [==============================] - 0s 194us/step - loss: 1.7473 - mean_absolute_error: 1.7473 - val_loss: 2.0453 - val_mean_absolute_error: 2.0453
Epoch 12/100
1750/1750 [==============================] - 0s 198us/step - loss: 1.5662 - mean_absolute_error: 1.5662 - val_loss: 1.1938 - val_mean_absolute_error: 1.1938
Epoch 13/100
1750/1750 [==============================] - 0s 190us/step - loss: 1.3790 - mean_absolute_error: 1.3790 - val_loss: 1.9451 - val_mean_absolute_error: 1.9451
Epoch 14/100
1750/1750 [==============================] - 0s 190us/step - loss: 1.3753 - mean_absolute_error: 1.3753 - val_loss: 1.4097 - val_mean_absolute_error: 1.4097
Epoch 15/100
1750/1750 [==============================] - 0s 204us/step - loss: 1.4014 - mean_absolute_error: 1.4014 - val_loss: 1.1466 - val_mean_absolute_error: 1.1466
Epoch 16/100
1750/1750 [==============================] - 0s 192us/step - loss: 1.3091 - mean_absolute_error: 1.3091 - val_loss: 1.1683 - val_mean_absolute_error: 1.1683
Epoch 17/100
1750/1750 [==============================] - 0s 189us/step - loss: 1.2929 - mean_absolute_error: 1.2929 - val_loss: 1.4242 - val_mean_absolute_error: 1.4242
Epoch 18/100
1750/1750 [==============================] - 0s 193us/step - loss: 1.5620 - mean_absolute_error: 1.5620 - val_loss: 1.0618 - val_mean_absolute_error: 1.0618
Epoch 19/100
1750/1750 [==============================] - 0s 192us/step - loss: 1.2949 - mean_absolute_error: 1.2949 - val_loss: 2.2446 - val_mean_absolute_error: 2.2446
Epoch 20/100
1750/1750 [==============================] - 0s 188us/step - loss: 1.2197 - mean_absolute_error: 1.2197 - val_loss: 1.5237 - val_mean_absolute_error: 1.5237
Epoch 21/100
1750/1750 [==============================] - 0s 195us/step - loss: 1.1602 - mean_absolute_error: 1.1602 - val_loss: 1.5403 - val_mean_absolute_error: 1.5403
Epoch 22/100
1750/1750 [==============================] - 0s 196us/step - loss: 1.2575 - mean_absolute_error: 1.2575 - val_loss: 1.1163 - val_mean_absolute_error: 1.1163
Epoch 23/100
1750/1750 [==============================] - 0s 195us/step - loss: 1.3445 - mean_absolute_error: 1.3445 - val_loss: 1.0910 - val_mean_absolute_error: 1.0910
Epoch 24/100
1750/1750 [==============================] - 0s 199us/step - loss: 1.4694 - mean_absolute_error: 1.4694 - val_loss: 1.1479 - val_mean_absolute_error: 1.1479
Epoch 25/100
1750/1750 [==============================] - 0s 190us/step - loss: 1.2997 - mean_absolute_error: 1.2997 - val_loss: 1.7714 - val_mean_absolute_error: 1.7714
Epoch 26/100
1750/1750 [==============================] - 0s 194us/step - loss: 1.3059 - mean_absolute_error: 1.3059 - val_loss: 1.4733 - val_mean_absolute_error: 1.4733
Epoch 27/100
1750/1750 [==============================] - 0s 200us/step - loss: 1.2143 - mean_absolute_error: 1.2143 - val_loss: 1.6217 - val_mean_absolute_error: 1.6217
Epoch 28/100
1750/1750 [==============================] - 0s 192us/step - loss: 1.1576 - mean_absolute_error: 1.1576 - val_loss: 2.0011 - val_mean_absolute_error: 2.0011
Epoch 29/100
1750/1750 [==============================] - 0s 190us/step - loss: 1.2859 - mean_absolute_error: 1.2859 - val_loss: 3.6287 - val_mean_absolute_error: 3.6287
Epoch 30/100
1750/1750 [==============================] - 0s 192us/step - loss: 1.3494 - mean_absolute_error: 1.3494 - val_loss: 1.5187 - val_mean_absolute_error: 1.5187
Epoch 31/100
1750/1750 [==============================] - 0s 191us/step - loss: 1.3309 - mean_absolute_error: 1.3309 - val_loss: 3.3993 - val_mean_absolute_error: 3.3993
Epoch 32/100
1750/1750 [==============================] - 0s 196us/step - loss: 1.2217 - mean_absolute_error: 1.2217 - val_loss: 1.0676 - val_mean_absolute_error: 1.0676
Epoch 33/100
1750/1750 [==============================] - 0s 211us/step - loss: 1.3814 - mean_absolute_error: 1.3814 - val_loss: 3.8774 - val_mean_absolute_error: 3.8774
Epoch 34/100
1750/1750 [==============================] - 0s 198us/step - loss: 1.3384 - mean_absolute_error: 1.3384 - val_loss: 1.0392 - val_mean_absolute_error: 1.0392
Epoch 35/100
1750/1750 [==============================] - 0s 189us/step - loss: 1.3451 - mean_absolute_error: 1.3451 - val_loss: 1.1914 - val_mean_absolute_error: 1.1914
Epoch 36/100
1750/1750 [==============================] - 0s 199us/step - loss: 1.1714 - mean_absolute_error: 1.1714 - val_loss: 1.1215 - val_mean_absolute_error: 1.1215
Epoch 37/100
1750/1750 [==============================] - 0s 190us/step - loss: 1.1524 - mean_absolute_error: 1.1524 - val_loss: 2.6148 - val_mean_absolute_error: 2.6148
Epoch 38/100
1750/1750 [==============================] - 0s 188us/step - loss: 1.2141 - mean_absolute_error: 1.2141 - val_loss: 1.5095 - val_mean_absolute_error: 1.5095
Epoch 39/100
1750/1750 [==============================] - 0s 201us/step - loss: 1.1880 - mean_absolute_error: 1.1880 - val_loss: 1.5968 - val_mean_absolute_error: 1.5968
Epoch 40/100
1750/1750 [==============================] - 0s 193us/step - loss: 1.1705 - mean_absolute_error: 1.1705 - val_loss: 3.7780 - val_mean_absolute_error: 3.7780
Epoch 41/100
1750/1750 [==============================] - 0s 190us/step - loss: 1.6566 - mean_absolute_error: 1.6566 - val_loss: 2.4200 - val_mean_absolute_error: 2.4200
Epoch 42/100
1750/1750 [==============================] - 0s 204us/step - loss: 1.2167 - mean_absolute_error: 1.2167 - val_loss: 2.2626 - val_mean_absolute_error: 2.2626
Epoch 43/100
1750/1750 [==============================] - 0s 199us/step - loss: 1.1554 - mean_absolute_error: 1.1554 - val_loss: 1.9274 - val_mean_absolute_error: 1.9274
Epoch 44/100
1750/1750 [==============================] - 0s 189us/step - loss: 1.1963 - mean_absolute_error: 1.1963 - val_loss: 2.6877 - val_mean_absolute_error: 2.6877
Epoch 45/100
1750/1750 [==============================] - 0s 200us/step - loss: 1.1976 - mean_absolute_error: 1.1976 - val_loss: 1.1354 - val_mean_absolute_error: 1.1354
Epoch 46/100
1750/1750 [==============================] - 0s 202us/step - loss: 1.4018 - mean_absolute_error: 1.4018 - val_loss: 2.9884 - val_mean_absolute_error: 2.9884
Epoch 47/100
1750/1750 [==============================] - 0s 193us/step - loss: 1.1798 - mean_absolute_error: 1.1798 - val_loss: 1.2758 - val_mean_absolute_error: 1.2758
Epoch 48/100
1750/1750 [==============================] - 0s 194us/step - loss: 1.1178 - mean_absolute_error: 1.1178 - val_loss: 2.1364 - val_mean_absolute_error: 2.1364
Epoch 49/100
1750/1750 [==============================] - 0s 190us/step - loss: 1.1257 - mean_absolute_error: 1.1257 - val_loss: 1.4063 - val_mean_absolute_error: 1.4063
Epoch 50/100
1750/1750 [==============================] - 0s 191us/step - loss: 1.0731 - mean_absolute_error: 1.0731 - val_loss: 2.2805 - val_mean_absolute_error: 2.2805
Epoch 51/100
1750/1750 [==============================] - 0s 203us/step - loss: 1.1713 - mean_absolute_error: 1.1713 - val_loss: 1.4249 - val_mean_absolute_error: 1.4249
Epoch 52/100
1750/1750 [==============================] - 0s 193us/step - loss: 1.1816 - mean_absolute_error: 1.1816 - val_loss: 1.7224 - val_mean_absolute_error: 1.7224
Epoch 53/100
1750/1750 [==============================] - 0s 191us/step - loss: 1.1806 - mean_absolute_error: 1.1806 - val_loss: 1.1650 - val_mean_absolute_error: 1.1650
Epoch 54/100
1750/1750 [==============================] - 0s 195us/step - loss: 1.0788 - mean_absolute_error: 1.0788 - val_loss: 1.7372 - val_mean_absolute_error: 1.7372
Epoch 55/100
1750/1750 [==============================] - 0s 193us/step - loss: 1.1335 - mean_absolute_error: 1.1335 - val_loss: 2.5651 - val_mean_absolute_error: 2.5651
Epoch 56/100
1750/1750 [==============================] - 0s 194us/step - loss: 1.1278 - mean_absolute_error: 1.1278 - val_loss: 1.5088 - val_mean_absolute_error: 1.5088
Epoch 57/100
1750/1750 [==============================] - 0s 198us/step - loss: 1.2022 - mean_absolute_error: 1.2022 - val_loss: 1.8174 - val_mean_absolute_error: 1.8174
Epoch 58/100
1750/1750 [==============================] - 0s 189us/step - loss: 1.1312 - mean_absolute_error: 1.1312 - val_loss: 1.5130 - val_mean_absolute_error: 1.5130
Epoch 59/100
1750/1750 [==============================] - 0s 194us/step - loss: 1.1644 - mean_absolute_error: 1.1644 - val_loss: 1.0729 - val_mean_absolute_error: 1.0729
Epoch 60/100
1750/1750 [==============================] - 0s 212us/step - loss: 1.1147 - mean_absolute_error: 1.1147 - val_loss: 1.7779 - val_mean_absolute_error: 1.7779
Epoch 61/100
1750/1750 [==============================] - 0s 194us/step - loss: 1.0916 - mean_absolute_error: 1.0916 - val_loss: 1.8558 - val_mean_absolute_error: 1.8558
Epoch 62/100
1750/1750 [==============================] - 0s 191us/step - loss: 1.1966 - mean_absolute_error: 1.1966 - val_loss: 1.6094 - val_mean_absolute_error: 1.6094
Epoch 63/100
1750/1750 [==============================] - 0s 197us/step - loss: 1.1143 - mean_absolute_error: 1.1143 - val_loss: 1.6719 - val_mean_absolute_error: 1.6719
Epoch 64/100
1750/1750 [==============================] - 0s 191us/step - loss: 1.1901 - mean_absolute_error: 1.1901 - val_loss: 1.1149 - val_mean_absolute_error: 1.1149
Epoch 65/100
1750/1750 [==============================] - 0s 188us/step - loss: 1.3200 - mean_absolute_error: 1.3200 - val_loss: 1.1555 - val_mean_absolute_error: 1.1555
Epoch 66/100
1750/1750 [==============================] - 0s 204us/step - loss: 1.1077 - mean_absolute_error: 1.1077 - val_loss: 1.2401 - val_mean_absolute_error: 1.2401
Epoch 67/100
1750/1750 [==============================] - 0s 200us/step - loss: 1.2384 - mean_absolute_error: 1.2384 - val_loss: 3.0660 - val_mean_absolute_error: 3.0660
Epoch 68/100
1750/1750 [==============================] - 0s 189us/step - loss: 1.3184 - mean_absolute_error: 1.3184 - val_loss: 1.8183 - val_mean_absolute_error: 1.8183
Epoch 69/100
1750/1750 [==============================] - 0s 199us/step - loss: 1.1703 - mean_absolute_error: 1.1703 - val_loss: 1.3377 - val_mean_absolute_error: 1.3377
Epoch 70/100
1750/1750 [==============================] - 0s 189us/step - loss: 1.2109 - mean_absolute_error: 1.2109 - val_loss: 1.0569 - val_mean_absolute_error: 1.0569
Epoch 71/100
1750/1750 [==============================] - 0s 192us/step - loss: 1.2295 - mean_absolute_error: 1.2295 - val_loss: 2.4190 - val_mean_absolute_error: 2.4190
Epoch 72/100
1750/1750 [==============================] - 0s 194us/step - loss: 1.2048 - mean_absolute_error: 1.2048 - val_loss: 1.2551 - val_mean_absolute_error: 1.2551
Epoch 73/100
1750/1750 [==============================] - 0s 192us/step - loss: 1.0987 - mean_absolute_error: 1.0987 - val_loss: 2.6305 - val_mean_absolute_error: 2.6305
Epoch 74/100
1750/1750 [==============================] - 0s 195us/step - loss: 1.1441 - mean_absolute_error: 1.1441 - val_loss: 1.1590 - val_mean_absolute_error: 1.1590
Epoch 75/100
1750/1750 [==============================] - 0s 192us/step - loss: 1.0781 - mean_absolute_error: 1.0781 - val_loss: 1.7575 - val_mean_absolute_error: 1.7575
Epoch 76/100
1750/1750 [==============================] - 0s 188us/step - loss: 1.0770 - mean_absolute_error: 1.0770 - val_loss: 1.2135 - val_mean_absolute_error: 1.2135
Epoch 77/100
1750/1750 [==============================] - 0s 202us/step - loss: 1.0947 - mean_absolute_error: 1.0947 - val_loss: 1.7114 - val_mean_absolute_error: 1.7114
Epoch 78/100
1750/1750 [==============================] - 0s 195us/step - loss: 1.1603 - mean_absolute_error: 1.1603 - val_loss: 1.5516 - val_mean_absolute_error: 1.5516
Epoch 79/100
1750/1750 [==============================] - 0s 193us/step - loss: 1.0449 - mean_absolute_error: 1.0449 - val_loss: 1.3766 - val_mean_absolute_error: 1.3766
Epoch 80/100
1750/1750 [==============================] - 0s 192us/step - loss: 1.1668 - mean_absolute_error: 1.1668 - val_loss: 2.1938 - val_mean_absolute_error: 2.1938
Epoch 81/100
1750/1750 [==============================] - 0s 200us/step - loss: 1.1707 - mean_absolute_error: 1.1707 - val_loss: 1.3226 - val_mean_absolute_error: 1.3226
Epoch 82/100
1750/1750 [==============================] - 0s 188us/step - loss: 1.0380 - mean_absolute_error: 1.0380 - val_loss: 1.3313 - val_mean_absolute_error: 1.3313
Epoch 83/100
1750/1750 [==============================] - 0s 187us/step - loss: 1.0699 - mean_absolute_error: 1.0699 - val_loss: 2.5927 - val_mean_absolute_error: 2.5927
Epoch 84/100
1750/1750 [==============================] - 0s 194us/step - loss: 1.1140 - mean_absolute_error: 1.1140 - val_loss: 1.1933 - val_mean_absolute_error: 1.1933
Epoch 85/100
1750/1750 [==============================] - 0s 192us/step - loss: 1.0710 - mean_absolute_error: 1.0710 - val_loss: 1.3147 - val_mean_absolute_error: 1.3147
Epoch 86/100
1750/1750 [==============================] - 0s 190us/step - loss: 1.0365 - mean_absolute_error: 1.0365 - val_loss: 1.1640 - val_mean_absolute_error: 1.1640
Epoch 87/100
1750/1750 [==============================] - 0s 198us/step - loss: 1.0793 - mean_absolute_error: 1.0793 - val_loss: 1.3916 - val_mean_absolute_error: 1.3916
Epoch 88/100
1750/1750 [==============================] - 0s 198us/step - loss: 1.1868 - mean_absolute_error: 1.1868 - val_loss: 1.3154 - val_mean_absolute_error: 1.3154
Epoch 89/100
1750/1750 [==============================] - 0s 188us/step - loss: 1.0556 - mean_absolute_error: 1.0556 - val_loss: 1.4166 - val_mean_absolute_error: 1.4166
Epoch 90/100
1750/1750 [==============================] - 0s 196us/step - loss: 1.0433 - mean_absolute_error: 1.0433 - val_loss: 1.4645 - val_mean_absolute_error: 1.4645
Epoch 91/100
1750/1750 [==============================] - 0s 192us/step - loss: 1.1185 - mean_absolute_error: 1.1185 - val_loss: 1.2454 - val_mean_absolute_error: 1.2454
Epoch 92/100
1750/1750 [==============================] - 0s 187us/step - loss: 1.0644 - mean_absolute_error: 1.0644 - val_loss: 1.5968 - val_mean_absolute_error: 1.5968
Epoch 93/100
1750/1750 [==============================] - 0s 198us/step - loss: 1.2871 - mean_absolute_error: 1.2871 - val_loss: 1.0585 - val_mean_absolute_error: 1.0585
Epoch 94/100
1750/1750 [==============================] - 0s 203us/step - loss: 1.1473 - mean_absolute_error: 1.1473 - val_loss: 1.3532 - val_mean_absolute_error: 1.3532
Epoch 95/100
1750/1750 [==============================] - 0s 199us/step - loss: 1.0529 - mean_absolute_error: 1.0529 - val_loss: 1.2028 - val_mean_absolute_error: 1.2028
Epoch 96/100
1750/1750 [==============================] - 0s 194us/step - loss: 1.0933 - mean_absolute_error: 1.0933 - val_loss: 1.1756 - val_mean_absolute_error: 1.1756
Epoch 97/100
1750/1750 [==============================] - 0s 191us/step - loss: 0.9949 - mean_absolute_error: 0.9949 - val_loss: 1.3313 - val_mean_absolute_error: 1.3313
Epoch 98/100
1750/1750 [==============================] - 0s 189us/step - loss: 1.0476 - mean_absolute_error: 1.0476 - val_loss: 1.2505 - val_mean_absolute_error: 1.2505
Epoch 99/100
1750/1750 [==============================] - 0s 203us/step - loss: 1.0863 - mean_absolute_error: 1.0863 - val_loss: 1.2099 - val_mean_absolute_error: 1.2099
Epoch 100/100
1750/1750 [==============================] - 0s 193us/step - loss: 1.1031 - mean_absolute_error: 1.1031 - val_loss: 1.2185 - val_mean_absolute_error: 1.2185

In [0]:
NN_model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])

In [0]:
ans=NN_model.predict(Xtest)

ValueError: ignored

In [0]:
mean_absolute_error(ans,y)

1.0210272508150038

For TEST SET

In [0]:
df=pd.read_csv("test.csv.zip")
df['belongs_to_collection'][df['belongs_to_collection'].notnull()]='Yes'
df['belongs_to_collection']=df['belongs_to_collection'].fillna("No")
x=[]
for index,row in df.iterrows():
  try:
    d=eval(df['genres'][index])
    b=[]
    for i in range(len(d)):
      b.append(list(d[i].values())[1])
  except:
    pass
  x.append(b)
df['genres']=x
df.drop(['homepage','imdb_id','overview','poster_path','spoken_languages','Keywords','tagline','title','original_title'],axis=1,inplace=True)
x=[]
for index,row in df.iterrows():
  try:
    d=eval(df['production_companies'][index])
    b=[]
    for i in range(len(d)):
      b.append(list(d[i].values())[0])
  except:
    b=[]
  x.append(b)
df['production_companies']=x
x=[]
for index,row in df.iterrows():
  try:
    d=eval(df['production_countries'][index])
    b=[]
    for i in range(len(d)):
      b.append(list(d[i].values())[0])
  except:
    b=[]
  x.append(b)
df['production_countries']=x
x=[]
for index,row in df.iterrows():
  try:
    d=eval(df['cast'][index])
    b=[]
    for i in range(len(d)):
      b.append(list(d[i].values())[0])
  except:
    b=[]
  x.append(b)
df['cast']=x
total_crew=[]
for index,row in df.iterrows():
  hi=df['crew'][index]
  crew=[]
  try:
    ho=hi.rsplit("'Director', 'name': '")[1]
    he=ho.split("', ")
    crew.append(he[0])
  except:
    crew.append("N/A")

  try:
    ho=hi.rsplit("Producer\', \'name\': \'")[1]
    he=ho.split("', ")
    crew.append(he[0])
  except:
    crew.append("N/A")
  try:
    ho=hi.rsplit("'Director of Photography', 'name': '")[1]
    he=ho.split("', ")
    crew.append(he[0])
  except:
    crew.append("N/A")
  total_crew.append(crew)
total_crew
df['crew']=total_crew
df["director"] = df["crew"].str[0]
df["producer"] = df["crew"].str[1]
df["Director_of_photography"] = df["crew"].str[2]
df=df.drop('crew',1)
cols=df.columns
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
df = df.join(pd.DataFrame(mlb.fit_transform(df.pop('genres')),
                          columns=mlb.classes_,
                          index=df.index))
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
df = df.join(pd.DataFrame(mlb.fit_transform(df.pop('production_companies')),
                          columns=mlb.classes_,
                          index=df.index))
                          
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
df = df.join(pd.DataFrame(mlb.fit_transform(df.pop('cast')),
                          columns=mlb.classes_,
                          index=df.index))

In [0]:
df.isnull().sum(axis=0)
df['status']=df['status'].fillna('Released')
df['runtime']=df['runtime'].fillna('93')
df['release_date']=df['release_date'].fillna('2/2/05')
df.status.unique()

array(['Released', 'Rumored', 'Post Production'], dtype=object)

In [0]:
column=list(cols)+list(studios)+list(casts)
column.remove("genres")
column.remove("production_companies")
column.remove("cast")
df['North Box Productions']='0'
df['Ronald Shusett/Gary Goldman']='0'
df['Hypnopolis']='0'
df=df[column]

In [0]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
df = df.join(pd.DataFrame(mlb.fit_transform(df.pop('production_countries')),
                          columns=mlb.classes_,
                          index=df.index))

In [0]:

from sklearn.preprocessing import LabelEncoder
lbl=LabelEncoder()
df['belongs_to_collection']=lbl.fit_transform(df['belongs_to_collection'])

In [0]:
from sklearn.preprocessing import LabelEncoder
lbl=LabelEncoder()
df['status']=lbl.fit_transform(df['status'])

In [0]:
language=pd.get_dummies(df.original_language)
language.drop('hi' ,1)
df1=pd.concat([df,language],1)
df1.drop('original_language',1, inplace=True)
dire=pd.get_dummies(df.director)
dire['Ole Bornedal']='0'
dire['Ralph Fiennes']='0'
dire['Sujoy Ghosh']='0'
dire['Stevan Filipoviƒá']='0'
dire['Jehane Noujaim']='0'
dire['Michael Dowse']='0'
dire['Hal Sutherland']='0'
dire['Joe Swanberg']='0'
dire['Phil Traill']='0'
dire['Nelson Shin']='0'
dire['Jonathan King']='0'
dire['Jong-seok Yoon']='0'





dire=dire[directors]
df1=pd.concat([df1,dire],1)
df1.drop('director',1, inplace=True)

In [0]:


pros=pd.get_dummies(df.producer)
producers=list(producers)
ranlist=['Michael Weber', 'Robby London', 'Philippa Campbell', 'Sujoy Ghosh', 'Joe Bacal', 'Branislav Jeliƒá', 'Frank Oz', 'Ant Timpson', 'Elaine J. Constantine ', 'Jason Reitman', 'Gary Binkow', 'Whitney Houston', 'Carla Fry', 'Mike Richardson', 'Christian Baute', 'David Gross']

for x in ranlist:
    producers.remove(x)




pros=pros[producers]
df1=pd.concat([df1,pros],1)
df1.drop('producer',1, inplace=True)


phos=pd.get_dummies(df.Director_of_photography)
ranlist=['Gerald Feil', 'Arlene Nelson', 'Robert Draper', 'Mihajlo Savic', 'Mathieu Vadepied', 'Scott Peck', 'Masatoshi Fukui']
dop=list(dop)
for x in ranlist:
    dop.remove(x)
phos=phos[dop]
df1=pd.concat([df1,phos],1)
df1.drop('Director_of_photography',1, inplace=True)
import datetime as dt
for i in df1.index:
       if pd.notna(df1['release_date'][i]): 
            df1['release_date'][i]=dt.datetime.strptime(df1['release_date'][i],'%m/%d/%y')                        
df1.drop("N/A",1)
df1['release_date'][i]=dt.datetime.strptime(df1['release_date'][i],'%m/%d/%y')
year = lambda x: dt.datetime.strptime(x, "%m/%d/%y" ).year
df1['year'] = df1['release_date'].map(year)
month = lambda x: dt.datetime.strptime(x, "%m/%d/%y" ).month
df1['month'] = df1['release_date'].map(month)
day = lambda x: dt.datetime.strptime(x, "%m/%d/%y" ).day
df1['day'] = df1['release_date'].map(day)
day_of_week = lambda x: dt.datetime.strptime(x, "%m/%d/%y" ).weekday()
df1['week_day']=df1['release_date'].map(day_of_week)
df1['year']=df1['year'].astype(str)
df1['month']='month' + df1['month'].astype(str)
df1['day']='day' + df1['day'].astype(str)
df1['week_day']='week_day' + df1['week_day'].astype(str)
months=pd.get_dummies(df1.month)
months.drop('month2' ,1)
df1=pd.concat([df1,months],1)
df1.drop('month',1, inplace=True)

years=pd.get_dummies(df1.year)
years.drop('2015' ,1)
df1=pd.concat([df1,years],1)
df1.drop('year',1, inplace=True)

days=pd.get_dummies(df1.day)
days.drop('day1' ,1)
df1=pd.concat([df1,days],1)
df1.drop('day',1, inplace=True)

weekdays=pd.get_dummies(df1.week_day)
weekdays.drop('week_day1' ,1)
df1=pd.concat([df1,weekdays],1)
df1.drop('week_day',1, inplace=True)      
df1.drop("release_date",1,inplace=True) 
df1 = df1[df1.budget!=0]  
Xtest=df1   
Xtest['budget']=np.log1p(Xtest['budget'])  
Xtest['popularity']=np.log1p(Xtest['popularity'])
Xtest['runtime']=np.log1p(Xtest['runtime'].astype(float))     
Xtest.head()

ValueError: ignored